<article>
<header>
  <h2><%= @article.title %></h2>
  <time>Posted <%= @article.posted_at %></time>
  <summary><b>tl;dr;</b> <%= @article.blurb.html_safe %></summary>
</header>
<%= @article.copy_copy %>
</article>
