- content_for :navigation do
  %p
    %small= link_to('&larr; start browsing'.html_safe, blog_path(Article.latest))
%p
  %small
    - @categories.each do |category|
      = link_to category.title, root_path(anchor: category.title), class: 'tag'
%table.u-full-width
  = render partial: 'partials/category', locals: { category: @recent }
  - @categories.each do |category|
    = render partial: 'partials/category', locals: { category: category }
