<% content_for :navigation do %>
  <p><small><%= link_to('&larr; start browsing'.html_safe, blog_path(Article.latest)) %></small></p>
<% end %>

<table class="u-full-width">
  <% @categories.each do |category| %>
    <%= render partial: 'partials/category', locals: { category: category } %>
  <% end %>
</table>
