<% if @article %>
<article>
<header>
  <h2><%= @article.title %></h2>
  <p>Posted <time><%= @article.posted_at %></time></p>
</header>
<%= @article.copy_copy %>
</article>
<% else %>
  <p>Your requested page was not found!<p>
<% end %>
