<% if @article %>
<article>
<header>
  <h2><%= @article.title %></h2>
  <time>Posted <%= @article.posted_at %></time>
</header>
<%= @article.copy_copy %>
</article>
<% else %>
  <p>Your requested page was not found!<p>
<% end %>
