- content_for :navigation do
  %p
    %small= link_to('&larr; start browsing'.html_safe, blog_path(Article.latest))
    |
    %small= link_to('view all', root_path)
%p.categories
  - @categories.each do |category|
    = link_to_unless_current category.title, category_path(category.title), class: 'tag'
%table.u-full-width
  = render partial: 'partials/category', locals: { category: @category }
